$indentation: 31px;
$pseudo-border: 0.5px;

.calendar-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    border: 1px solid $main-border;
  }

  &--indentation:not(:first-child) td {
    border-top: $indentation solid $white;
    position: relative;
  }

  &--indentation:not(:first-child) {
    td::before,
    td::after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: $pseudo-border;
      background-color: $main-border;
    }

    td::before {
      top: 0;
    }

    td::after {
      top: -$indentation + -$pseudo-border;
    }
  }
  &--closed {
    td {
      border-bottom: 1px;
    }
  }
}
