.calendar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  margin-top: 35px;

  &__current-date {
    padding: 0 15px;
    min-width: 180px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #000;
  }

  &__btn {
    border: 0;
    width: 30px;
    height: 30px;
    outline: none;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    transition: transform 0.3s;
    cursor: pointer;

    &:hover {
      transform: scale(1.6);
    }
  }

  &__btn--prev-month {
    background-image: url("../../assets/images/icons/arrow--left.svg");
  }

  &__btn--next-month {
    background-image: url("../../assets/images/icons/arrow--right.svg");
  }
}
