{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "react-app",
    "react-app/jest"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "rules": {
    "semi": [
      "error",
      "never"
    ],
    "quotes": ["warn", "single"],
    "indent": [
      "warn",
      2
    ]
  }
}