@import 'styles/utils/mixin';

.teamInfo {
  display: flex;
  align-items: center;

  &__name {
    @extend %font-bold;

    display: inline-block;
    max-width: 105px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-transform: capitalize;
    vertical-align: text-top;
  }
  &__other {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;

    & > *:not(:last-child) {
      margin-right: 8px;
    }
  }
}
