.button-arrow-up {
  width: 12px;
  height: 8px;
  background-image: url('../../assets/images/icons/arrow--up.svg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  outline: none;
  transform: rotate(180deg);
  transition: transform 0.3s ease;
  &--active {
    transform: rotate(0deg);
  }
}
