.button {
  @extend %font-bold;

  padding: 10px;
  min-width: 144px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color $fast linear, color $fast linear;

  &--primary {
    background-color: $button--primary;
    color: $white;
  }

  &--secondary {
    border: 1px solid $button--secondary-border;
    color: $scorpion;
  }

  &--disabled {
    pointer-events: none;
    background-color: $button--disabled;
  }
  &__icon {
    margin-right: 10px;
    width: 13px;
    height: 13px;
  }
}
