.button {
  @extend %font-bold;

  padding: 10px;
  min-width: 144px;
  border-radius: 7px;
  background-color: $button--main;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;

  &__svg {
    margin-right: 10px;
    width: 13px;
    height: 13px;
  }
}
