$vac-border-radius: 3px;
$vac-padding: 2px;

.cell-vacations {
  position: relative;
  text-align: center;
  color: $white;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: -1px;
    width: 1px;
  }
  &--paid,
  &--unpaid {
    height: 2.25rem;
    &::before {
      height: inherit;
    }
  }

  &--start-vac,
  &--end-vac {
    width: calc(100% - #{$vac-padding});
  }
  &--start-vac {
    margin-left: auto;
    border-top-left-radius: $vac-border-radius;
    border-bottom-left-radius: $vac-border-radius;
  }

  &--end-vac {
    margin-right: auto;
    border-top-right-radius: $vac-border-radius;
    border-bottom-right-radius: $vac-border-radius;
    &::before {
      display: none;
    }
  }

  &__text {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 5;
  }
}

.cell-vacations--start-vac.cell-vacations--end-vac {
  margin: 0 auto;
  width: calc(100% - #{$vac-padding * 2});
  &::before {
    display: none;
  }
}

.cell-gray {
  background-color: $weekend;
}

.cell-summ {
  @extend %font-bold;

  text-align: center;
}
